<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6773a3">  <td>20/12/04 08:00:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestGETPerson.init()[pri:0, instance:com.sample.api_sample.test.TestGETPerson@3514a4c0]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1412794598</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>20/12/04 08:00:29</td>   <td>4201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGETPerson.testGetAllPost()[pri:0, instance:com.sample.api_sample.test.TestGETPerson@3514a4c0]">testGetAllPost</td> 
  <td>main@1412794598</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>20/12/04 08:00:35</td>   <td>9755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGETPerson.testGetSinglePost()[pri:0, instance:com.sample.api_sample.test.TestGETPerson@3514a4c0]">testGetSinglePost</td> 
  <td>main@1412794598</td>   <td></td> </tr>
</table>
